<!doctype html>
<title>{% block title %}Welcome{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="bg">
  {% if g.user %}
<h1>{{g.user.username}}, Welcome to Pitt Chat</h1>
{% else %} <h1>Welcome to Pitt Chat</h1>
{% endif %}

  <div class="nav">
  {% if g.user %}
    <a href="{{ url_for('root') }}">Home</a>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
    <a href="{{ url_for('create') }}">Create New Chatroom</a>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
    <a href="{{ url_for('logout') }}">Log out [{{ g.user.username }}]</a>
  {% else %}
    <a href="{{ url_for('root') }}">Home</a>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |
    <a href="{{ url_for('register') }}">Register</a>           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   |
    <a href="{{ url_for('login') }}">Login</a>
  {% endif %}
  </div>
  <br>
  <br>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="body">
  {% block body %}{% endblock %}
  </div>
</div>
